{% extends 'base.html' %}

{% block content %}

<div class="container fixed-top " style="background-color: transparent; margin-top: 90px; margin-left: 250px;">
    <div class="container">
        <a href="{% url 'home' %}" class="text-light">
        <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed">
            <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
        </svg>
        Voltar
        </a>
    </div>
</div>

<div class="container fixed-top" style="background-color: #007272; margin-top: 58px;">
    <div class="text-light bg-dark" style="margin-top: 50px; height: 100px; padding-top: 15px;">
        <h2 class="text-center ml-2 mr-2 pt-2 w-100">Lista de Leitores</h2>
        <a href="{% url 'cadastrar_leitor' %}" class="btn btn-primary mb-2 w-100 mt-3">Adicionar Novo Leitor</a>
    </div>
</div>

<div class="container fixed-top" style="background-color: #007272; margin-top: 230px; padding-top: 10px;">
    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
    </table>
</div>
<div class="container" style="background-color: #007272; margin-top: 300px;">
    <table class="table table-striped">
        <tbody class="bg-light text-dark">
            {% for leitor in leitores %}
                <tr>
                    <td>{{ leitor.nome }}</td>
                    <td>{{ leitor.email }}</td>
                    <td>{{ leitor.telefone }}</td>
                    <td>{{ leitor.endereco }}</td>
                    <td>
                        <a href="{% url 'editar_leitor' leitor.id %}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum leitor cadastrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
